<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="triangle.js"></script>
    </head>
    <body ng-app="triangleApp">
        <div ng-controller="triangleCtl">
            <h1>Enter the length of the sides of a triangle.</h1>
            <form name="triangleForm">
                <div class="form-group">
                    <label>Side 1</label>
                    <input type="number" name="side1" class="form-control" ng-model="tirangle.side1" required placehodler="Side 1 Length" />
                </div>
                <div class="form-group">
                    <label>Side 2</label>
                    <input type="number" name="side2" class="form-control" ng-model="tirangle.side2" required placehodler="Side 1 Length" />
                </div>
                <div class="form-group">
                    <label>Side 3</label>
                    <input type="number" name="side3" class="form-control" ng-model="tirangle.side3" required placehodler="Side 1 Length" />
                </div>                              
            </form>
            <h2>The triangle you described is {{triangle.type}}.</h2>
        </div>
    </body>
</html>